@use "./base/reset";
@use "./base/colors";
@use "./base/fonts";

@use "./layout/header";
@use "./layout/footer";

@use "./components/form";

body {
  @include colors.bg-color;
}

main {
  height: 100vh;
  color: colors.$body-text;
}

.hidden {
  visibility: hidden;
}
