@use "./base/reset";
@use "./base/colors";
@use "./base/fonts";

@use "./layout/header";
@use "./layout/footer";

@use "./components/results-take-action";
@use "./components/form";
@use "./components/sharebuttons";
@use "./components/results-header";
@use "./components/results-detail-section";
<<<<<<< HEAD
@use "./components/index-text-section";
=======
@use "./components/loading-screen";
@use "./components/explaining_result";
>>>>>>> 08ee47af6d5b9d0c7136f1a53e48ed609750211e

main {
  height: 100%;
  color: colors.$body-text;
  padding: 4rem;
  // vil gerne ændre til 2rem, synes 6 rem er for meget
}

body {
  background-image: colors.$bg-color;
  background-size: cover;
  width: 100%;
}

#index_body {
  background-image: url(../../assets/backround.svg), colors.$bg-color;
  background-size: cover;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  main {
    padding: 3rem;
  }
}
