@use "./base/reset";
@use "./base/colors";
@use "./base/fonts";

@use "./layout/header";
@use "./layout/footer";

@use "./components/form";
@use "./components/sharebuttons";

main {
  height: 100vh;
  color: colors.$body-text;
  padding: 6rem;
}

body {
  background-image: colors.$bg-color;
  background-size: cover;
  width: 100%;
}

#index_body {
  background-image: url(../../assets/backround.svg), colors.$bg-color;
  background-size: cover;
  width: 100%;
}
