* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* VARIBELS */
:root {}


/* THE MENU */
.main-nav {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.logo {
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: black;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
opacity: 0;
}
.main-nav.show .line3 {
transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
transform: translateX(0%);
}

@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--white);
    transform: translateX(100%); 
    transition: transform 1s ease;
    border:solid 1px black;
  
  }   
  
}
