@use "../base/fonts";
@use "../base/colors";

#explaining_result {
  margin-top: 4rem;
  display: flex;
}

.explaining-percentage {
  max-width: 80%;
  display: block;
}

#explaining_result details {
  cursor: pointer;
  margin-top: 2rem;
  color: colors.$body-text;
}

#explaining_result details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

.orange {
  color: colors.$form-send-bg;
}

.big {
  @extend %headline2-font;
  font-size: 6vw;
}

.smaller {
  @extend %headline3-font;
  font-size: 2.5vw;
  font-weight: 500;
}
.small {
  @extend %headline2-font;
  font-size: 4vw;
  font-weight: 500;
  // line-height: 2.5rem;
}

@media only screen and (max-width: 700px) {
  #explaining_result {
    display: block;
    max-width: 100%;
  }

  .explaining-percentage {
    max-width: 100%;
    display: block;
  }

  .top3-wrapper {
    width: 100%;
  }
}
