@use "../base/fonts";
@use "../base/colors";

.explaining_wrapper {
  display: block;
}

.explaining-title {
  font-weight: 500;
}

#explaining_result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

#explaining_result details {
  color: colors.$body-text;
  cursor: pointer;
  // padding: 1.3rem;
  width: fit-content;
  margin-top: 2rem;
  padding: 2rem;
}

#explaining_result details[open] {
  // padding: 1.3rem;
  color: colors.$body-text;
  background-color: colors.$form-btn-bg;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 10px;
}

#explaining_result details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

summary {
  @extend %body-text-font;
}

@media only screen and (max-width: 700px) {
  #explaining_result {
    display: block;
  }

  .top3-wrapper {
    display: flex;
    justify-content: end;
  }
}
