@use "../base/colors";

.form-section {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 80%;

  div:first-child {
    display: grid;
    grid-template-columns: 0.43fr 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;

    span {
      grid-area: 2 / 2 / 3 / 3;
      margin-left: 0.3rem;
    }
  }

  div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

input[type="text"],
select {
  background-color: colors.$form-btn-bg;
  color: colors.$body-text;
  box-shadow: inset 0 0 10px #000000;
  height: 2rem;
  border-radius: 10px;
  flex-grow: 1;

  padding-left: 0.7rem;
}

select {
  appearance: none;

  background-image: url("/down_arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 0.8rem;
  background-size: 13px;
}

.send-btn {
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem 0;
  color: colors.$body-text;
  background-color: colors.$form-send-bg;
}

input[type="text"]:focus,
select:focus {
  outline: 1px solid hotpink;
}

@media only screen and (min-width: 910px) {
  .form-section {
    margin-left: auto;
    margin-right: 3rem;
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .form-section {
    div:nth-child(2) {
      flex-direction: column;
      align-items: initial;
    }
  }

  form {
    max-width: 100%;
  }
}
