@use "../base/colors";

.form-section {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 80%;
  // margin-top: 2rem;
  // display: grid;
  // max-width: 80%;
  // gap: 1.5rem;

  div {
    display: flex;
    // display: grid;
    align-items: center;
    gap: 1rem;
  }
}

input[type="text"],
select {
  background-color: colors.$form-btn-bg;
  color: colors.$body-text;
  box-shadow: inset 0 0 10px #000000;
  height: 2rem;
  border-radius: 10px;

  flex-grow: 1;
  padding-left: 1rem;
}

select {
  appearance: none;

  background-image: url("/down_arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 0.8rem;
  background-size: 13px;
}

.send-btn {
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem 0;
  color: colors.$body-text;
  background-color: colors.$form-send-bg;
}

input[type="text"]:focus,
select:focus {
  outline: 1px solid hotpink;
}

@media only screen and (min-width: 910px) {
  .form-section {
    margin-left: auto;
    margin-right: 3rem;
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .form-section {
    div {
      flex-direction: column;
      align-items: initial;
    }
  }

  form {
    max-width: 100%;
  }
}
