@use "../base/colors";
@use "../base/fonts";

.text_section .text_container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.text_section h3 {
  width: 90%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 20px;
}

.text_section .text_container p {
  padding-bottom: 20px;
  max-width: 60ch;
}

@media only screen and (min-width: 800px) {
  .text_section .text_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 20px 20px 0px;
  }

  .text_section h3 {
    padding-top: 10rem;
  }

  .text_section .text_container p {
    padding: 0px 20px 20px 0px;
  }
}

@media only screen and (min-width: 1000px) {
  .text_section {
    margin: 0 auto;
  }
}
