@use "../base/colors";

.take_action_checkbox {
  color: colors.$body-text;
  margin-top: 1.5rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox_wrapper {
  display: flex;
  gap: 4rem;
}

article {
  width: 100%;
  margin: 4rem 0 4rem 0;
}

.action_one {
  font-size: calc(3rem + (18 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.action_two {
  font-size: calc(1.5rem + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
}

.checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;

  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  transition-duration: 0.3s;
  background-color: colors.$form-send-bg;
}

.checkbox > input:checked {
  border: 3px solid colors.$form-send-bg;
  background-color: transparent;
  animation: bounce-in 0.3s normal forwards;
}

.could_be {
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 2.6rem;
  max-width: 60vw;

  margin: auto;
  margin-top: 4rem;
  box-shadow: inset 20px 20px 20px #04131d, inset -20px -20px 60px #192935;
}

.could_be_value {
  animation: load 3s normal forwards;

  border-radius: 100px;
  border: colors.$form-send-bg 3px solid;
  height: 2rem;
  width: 0;

  box-shadow: 5px 5px 5px #04131d, -5px -5px 5px #192935;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

.grow1 {
}

// animation on checkboces
@keyframes bounce-in {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.85, 1.15);
  }
  35% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.9, 1.1);
  }
  85% {
    transform: scale(1.02, 0.98);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 600px) {
  .checkbox_wrapper {
    display: flex;
    flex-direction: column;
  }
}
