@use "../base/colors";
@use "./progress-bars";

#interactive_section {
  margin-bottom: 6rem;
}

.take_action_checkbox {
  color: colors.$body-text;
  margin-top: 1.5rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox_wrapper {
  display: flex;
  gap: 4rem;
}

article {
  width: 100%;
  margin: 6rem 0 3rem 0;
}

.action_one {
  font-size: calc(3rem + (18 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.action_two {
  font-size: calc(1.5rem + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
}

.checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;

  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  border: 3px solid colors.$form-send-bg;
  background-color: transparent;
  transition-duration: 0.3s;
}

.checkbox > input:checked {
  background-color: colors.$form-send-bg;
  animation: bounce-in 0.3s normal forwards;
}

.could_be {
  @include progress-bars.progress;
  @include progress-bars.load;
  margin-top: 2rem;
}

.could_be_value {
  animation: load 3s normal forwards;

  border-radius: 100px;
  background-color: colors.$form-send-bg;
  height: 2.6rem;
  width: 0;

  box-shadow: 5px 5px 5px #04131d, -5px -5px 5px #192935;
}

@keyframes bounce-in {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.85, 1.15);
  }
  35% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.9, 1.1);
  }
  85% {
    transform: scale(1.02, 0.98);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 600px) {
  .checkbox_wrapper {
    display: flex;
    flex-direction: column;
  }
}
