@use "../base/colors";

.share_wrapper {
  display: flex;
  //   justify-content: flex-end;
  flex-direction: column;
}

.share_text {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.share_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
