// main {
//   background-image: url(../../assets/backround.svg);
// }

// .svg_container {
//   display: grid;
//   grid-column: 2;
// }
main {
  display: grid;
}

svg {
  height: 100%;
  width: auto;
}

.svg_section {
  display: grid;
  grid-column: 2;
  background-image: url(../../assets/backround.svg);
  background-repeat: no-repeat;
}

.svg_section,
.form-section {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
}
