%bg-color {
  background: rgb(0, 5, 9);
  background: linear-gradient(
    0deg,
    rgba(0, 5, 9, 1) 27%,
    rgba(21, 61, 91, 1) 100%
  );
}

$header-color: black;
$body-text: white;

$form-btn-bg: #0b2233;
