$header-color: black;
$body-text: white;
$form-btn-bg: #0b2233;
$form-send-bg: #ff7a00;
$main-blue: rgba(21, 61, 91, 1);
$bg-color: linear-gradient(0deg, rgba(0, 5, 9, 1) 27%, rgba(21, 61, 91, 1) 100%);
$clean-color: #5c8f4e;

:root {
  --bg-color-root: linear-gradient(0deg, rgba(0, 5, 9, 1) 27%, rgba(21, 61, 91, 1) 100%);
  --border-default: #bbbbc1;
  --border-hover: #9898a3;
  --active: #6e7bf2;
  --active-tick: #ffffff;
  --bg-color-root: linear-gradient(0deg, rgba(0, 5, 9, 1) 27%, rgba(21, 61, 91, 1) 100%);
}

// SIMONE IS TESTING THE SYSTEM AND ITS NOT WORKING - dont delete please
// $bgcolor1: rgb(0, 5, 9);
// $bgcolor2: linear-gradient(
//   0deg,
//   rgba(0, 5, 9, 1) 27%,
//   rgba(21, 61, 91, 1) 100%
// );
// $burgerbgcolor: rgba($bgcolor1, $bgcolor2);
