@use "../base/colors";

// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.typekit.net/fed6jan.css");
@import url("https://use.typekit.net/fed6jan.css");

%body-text-font {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}

%headline-font {
  font-family: "social-gothic", sans-serif;
  font-weight: 600;
  font-size: calc(2.5rem + (32 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 3px;
  padding-bottom: 1rem;
}

%headline2-font {
  font-family: "social-gothic", sans-serif;
  font-weight: 600;
  font-size: calc(2rem + (18 - 2) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 3px;
}

%headline3-font {
  font-family: "social-gothic", sans-serif;
  font-size: calc(1.5rem + (18 - 1) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 550;
}

%headline4-font {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 300;
  font-size: calc(0.5rem + (18 - 0.5) * ((100vw - 300px) / (1600 - 300)));
}

%headline5-font {
  font-family: "social-gothic", sans-serif;
  font-size: calc(0.7rem + (18 - 0.8) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
}

input[type="submit"] {
  font-size: calc(1rem + (18 - 1) * ((100vw - 300px) / (1600 - 300)));
}

a {
  @extend %body-text-font;
  color: colors.$form-send-bg;
}

p,
label,
details {
  @extend %body-text-font;
}

h1 {
  @extend %headline-font;
}

h2 {
  @extend %headline2-font;
}

h3 {
  @extend %headline3-font;
}

h4 {
  @extend %headline4-font;
}

h5 {
  @extend %headline5-font;
}
